.topEventWave {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.wave {
    position: absolute;
    left: 0;
    right: 0;
    height: 150px;
    background-repeat: repeat-x;
    background-position: 0 50%;
    background-size: 1400px 150px;
    will-change: background-position;
}

.wave4 {
    top: 0;
    background-image: url("../images/mv/svg/wave4.svg");
    animation: waveMove1 18s linear infinite;
    opacity: 0.55;
    z-index: 0;
}

.wave5 {
    top: 30px;
    background-image: url("../images/mv/svg/wave5.svg");
    animation: waveMove2 25s linear infinite;
    opacity: 0.75;
    z-index: 0;
}

.wave6 {
    top: 10px;
    background-image: url("../images/mv/svg/wave6.svg");
    animation: waveMove3 32s linear infinite;
    opacity: 1;
}



@keyframes waveMove1 {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -1400px;
    }
}

@keyframes waveMove2 {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -1400px;
    }
}

@keyframes waveMove3 {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -1400px;
    }
}